/* schermi < sm */

@media screen and (max-width: 575px) {
    .header-height {
        height: 70vh;
    }

    .footer-height {
        height: 25vh;
    }
}

/* schermi < md */

@media screen and (max-width: 767px) {
    .header-height {
        height: 80vh;
    }

}

/* schermi < lg */

@media screen and (max-width: 991px) {
    .header-height {
        height: 90vh;
    }

    .footer-height {
        height: 50vh;
    }
}